// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
    box-sizing: border-box

*
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif
    font-size: 24pt
    text-rendering: optimizeLegibility

a
    font-weight: bold
    color: grey

.red    { color: #FE4365 }
.green  { color: #7FAF1B }
.blue   { color: #025D8C }

.route  { font-weight: bold }
.time   { font-weight: bold }

#when
    ul
        display: inline
        list-style: none
        margin: 0
        padding: 0

    li
        display: inline

    li:after
        content: ", "

    li:last-child:after
        content: ""

#next
    ul
        list-style: none
        margin: 0
        padding: 0.2em 0


