<h2>Um Gulur.is</h2>

<h3>Hver á Gulur.is?</h3>

<p>Guðmundur Bjarni Ólafsson þróaði Gulur.is eftir að hafa gefist upp á því að reyna að nota <a href="http://straeto.is">Strætó.is</a> í snjallsímanum sínum.</p>

<small><a href="#">&larr; Til baka</a></small>

<h3>Hver eru tengsl Gulur.is við Strætó bs.?</h2>

<p>Engin. Engar upplýsingar birtar á Gulur.is eru á ábyrgð Strætó bs. 
Tímar birtir á Gulur.is eru sumir hverjir sóttir sjálfkrafa úr birtu 
<a href="http://www.straeto.is/leidakerfi/">leiðakerfi Strætó bs.</a> og aðrir
áætlaðir eftir <a href="http://scriptogr.am/gudmundur/post/2012-04-18-busestimates">kúnstarinnar reglum</a>.
Gulur.is er þér einvörðungu til þæginda. Engin ábyrgð er tekin á birtum tímum né öðrum upplýsingum um leiðir.
</p>

<small><a href="#">&larr; Til baka</a></small>

<h3>Hvernig get ég haft samband?</h3>

Þú getur haft samband eftir eftirfarandi leiðum. Hafðu gjarnan þína hentisemi á því 
hvaða leið þú velur, eftir skapi og hvað þig langar að segja okkur eða spurja.

<p>
    <ul>
        <li><a href="mailto:gulur@gulur.is">gulur@gulur.is</a></li>
        <li><a href="http://twitter.com/guluris">@guluris á Twitter</a></li>
        <!--li><a href="http://facebook.com/gulur.is">Gulur.is á Facebook</a></li-->
    </ul>
</p>

<small><a href="#">&larr; Til baka</a></small>
