<h2>Um Gulur.is</h2>

<h3>Hver á Gulur.is?</h3>

<p>Gulur.is er þróaður af Guðmundi Bjarna Ólafssyni eftir að hafa gefist upp á því að reyna að nota <a href="http://straeto.is">Strætó.is</a> í snjallsímanum sínum.</p>

<small><a href="#">&larr; Til baka</a></small>

<h3>Hver eru tengsl Gulur.is við Strætó bs.?</h2>

<p>Engin tengsl. Allar upplýsingar sem birtar eru á Gulur.is, eru ekki á ábyrgð Strætó bs. Tímarnir sem eru birtir eru annarsvegar sóttir af heimasíðu <a href="http://straeto.is">Strætó bs.</a> og hinsvegar áætlaðir eftir <a href="http://scriptogr.am/gudmundur/post/2012-04-18-busestimates">kúnstarinnar reglum</a>.</p>

<small><a href="#">&larr; Til baka</a></small>

<h3>Hvernig get ég haft samband?</h3>

Allt eftir því hvernig skapi þú ert í og hvað þú hefur að segja, þá geturðu haft samband á eftirfarandi vegu.

<p>
    <ul>
        <li><a href="mailto:gulur@gulur.is">gulur@gulur.is</a></li>
        <li><a href="http://twitter.com/guluris">@guluris á Twitter</a></li>
        <!--li><a href="http://facebook.com/gulur.is">Gulur.is á Facebook</a></li-->
    </ul>
</p>

<small><a href="#">&larr; Til baka</a></small>