<ul class="footer-links">
    <li><a href="#about">Um Gulur.is</a></li>
    <li><a href="http://facebook.com/gulur.is">Á Facebook</a></li>
    <li><a href="http://twitter.com/guluris">Á Twitter</a></li>
</ul>