<div class="input-prepend">
    <span class="add-on">Frá:</span><input id="search_from" type="text" class="input-medium" placeholder="{{ fromPlaceholder }}" autocapitalize="off" autocorrect="off" />
</div>

<div class="loading">
    <h3>Hinkraðu, meðan ég ræði við móðurskipið.</h3>
</div>

<div class="fallback"><h2>Engar biðstöðvar í nánd. :(</h2></div>

<div id="stops"></div>