<h2>Ég veit ekki hvar þú ert :(</h2>

<p>Gulur.is er gagnslaus án staðsetningar. Til þess að Gulur.is geti staðsett þig, þarftu að leyfa snjallsímanum eða vafranum þínum að senda okkur staðsetningarupplýsingar.</p>

<p>(Ef þú ert á tölvu þarf vafrinn þinn að vera nýlegur. Til dæmis virka Chrome, Firefox, Safari og Opera vel.)</p>
