<h2>Veit ekki hvar þú ert :(</h2>

Til þess að gulur.is geti staðsett þig, þarftu að leyfa gulur.is að leita uppi staðsetningu þína og annað hvort

<ul>
    <li>Snjallsíma</li>
    <li>Nýlegan vafra: Chrome, Firefox, Safari eða Opera</li>
</ul>