<div class="span3 routeinfo"><span class="route">Leið {{ route }}</span> - <span class="endstop">{{ endStop.longName }}</span></div>

<ul class="span9 times">
{{#each times}}
    <li>{{ this }}</li>|
{{/each}}
{{#if moreTimes}}
    <li>...</li>
{{/if}}
</ul>