.fallback
  display: none

.js #js-required
  visibility: hidden
  display: none

.no-js #js-required
  visibility: visible

header = #ffea00
brand = black

body = white
textcolor = black
smallcolor = black
linkcolor = black

footer = #ffea00
footertext = black

html, body
  height: 100%
  background: body !important
  color: textcolor !important

h1 small, h2 small, h3 small, h4 small
  color: smallcolor !important

#wrap a
  color: linkcolor !important
  text-decoration: underline !important

.navbar-inner
  background: header !important

.navbar
  .brand
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5)

.brand
  color: brand !important
  font-weight: bold !important

footer
  background: footer !important

footer a
  color: footertext !important

#wrap
  min-height: 100%

@media (min-width: 979px)
  #page-container
    padding-top: 40px

@media (max-width: 979px)
  footer
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;


#main
  overflow: auto
  padding-bottom: 80px

footer
  position: relative
  margin-top: -80px
  height: 20px
  clear: both
  padding: 30px 0

  xborder-top: 1px solid black
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.1)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)

.footer-links
  margin: 0
  padding: 0

  li
    display: inline
    margin-right: 2em