.fallback
    display: none

.js #js-required
    visibility: hidden
    display: none

.no-js #js-required
    visibility: visible

body
    padding-top: 40px
    padding-bottom: 5em

footer
    width: 100%

    background-color: whiteSmoke
    border-top: 1px solid #ddd
    padding: 2em 0

.footer-links
    margin: 0
    padding: 0

    li
        display: inline
        margin-right: 2em