.fallback, .loading
  display: none

.js #js-required
  visibility: hidden
  display: none

.no-js #js-required
  visibility: visible
  padding-top: 40px

header = #ffea00
brand = black

body = white
textcolor = black
smallcolor = black
linkcolor = black

footer = #ffea00
footertext = black

html, body
  height: 100%
  background: body
  color: textcolor

h1 small, h2 small, h3 small, h4 small
  color: smallcolor

#wrap a
  color: linkcolor
  text-decoration: underline

.navbar-inverse .navbar-inner
  background: header
  border-width: 0

.navbar
  .brand
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5)
    color: brand
    font-weight: bold

footer
  background: footer

footer a
  color: footertext

#wrap
  min-height: 100%


#main
  overflow: auto
  padding-bottom: 80px

footer
  position: relative
  margin-top: -80px
  height: 20px
  clear: both
  padding: 30px 0

  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.1)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)

.footer-links
  margin: 0
  padding: 0

  li
    display: inline
    margin-right: 2em

@media (min-width: 979px)
  #page-container
    padding-top: 60px

@media (max-width: 979px)
  footer
    margin-left: -20px
    margin-right: -20px
    padding-left: 20px
    padding-right: 20px

    .container
      padding: 0 20px

  .footer-links li
      margin-right: 1em
