#stops
    ul
        margin-left: 0

    li
        list-style: none


    .times        
        li
            display: inline

    /* Landscape phone to portrait tablet */
    @media (max-width: 767px)
        .routeinfo
            display: inline
            float: left
            width: 30%

        .times
            display: inline
            float: left
            width: 70%


    /* Landscape phones and down */
    @media (max-width: 480px)
        .routeinfo
            display: inline
            width: auto

        .times
            display: inline
            float: right
            width: auto
            font-size: 10px