#stops
    ul
        margin: 0
        padding: 0

    li
        margin: 0
        padding: 0
        list-style: none


    .times        
        li
            display: inline

.fallback
    display: none

.js #js-required
    visibility: hidden
    display: none

.no-js #js-required
    visibility: visible